<div class="container">
        
    <br/>
    <div class="card mx-0" padding="5px">
            <div class="row">

                <div class="card-body">

                    <div class="row">
                        <div class="col-6">
                            <image-component style="background-color: #555555; "></image-component>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <suggestion-component></suggestion-component>
                            </div>
                            <hr>
                            <div class="row">
                                <graph-component></graph-component>
                            </div>
                        </div>
                    </div>

                </div>
            
            </div>
            
        </div>
  </div>