<div class="container">
        
    <br/>
    <div class="card">
            <div class="row">

                <div class="card-body">

                <h4 class="card-title">Impreso</h4>

                </div>
            
            </div>
            <div class="row">
                <div class="col-4">
                    <image-component style="background-color: #555555; "></image-component>
                </div>
                <div class="col-8">
                    <div class="row">
                        <suggestion-component></suggestion-component>
                    </div>

                    <div class="row">
                        <graph-component></graph-component>
                    </div>
                </div>
            </div>
        </div>
  </div>