<!--The content below is only a placeholder and can be replaced.-->
<navbar></navbar>
<br/>
<div class="container">
    
<div class="row">
    <div class="col-4">
        <div class="card mx-5">
            <div class="row">
                <div class="card-body">
                    <overall-component></overall-component>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card mx-5">
            <div class="row">
                <div class="card-body">
                    <short-graph-component></short-graph-component>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card mx-5">
            <div class="row">
                <div class="card-body">
                    <long-graph-component></long-graph-component>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-4">
        <div class="card mx-5">
            <div class="row">
                <div class="card-body">
                    <histogram-component></histogram-component>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card mx-5">
            <div class="row">
                <div class="card-body">
                    <stream-component></stream-component>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card mx-5">
            <div class="row">
                <div class="card-body">
                    <qute-component></qute-component>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    