<!--The content below is only a placeholder and can be replaced.-->
<navbar></navbar>
<br/>
<div class="container">
    
<div class="row">
    <div class="col-4">
        <div class="card mx-0">
            <div class="row">
                <div class="card-body text-center">
                    <h4 class="card-title">Overall emotion</h4>
                    <overall-component></overall-component>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card mx-0">
            <div class="row">
                <div class="card-body text-center">
                        <h4 class="card-title">Short term development</h4>
                    <short-graph-component></short-graph-component>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card mx-0">
            <div class="row">
                <div class="card-body text-center">
                        <h4 class="card-title">Long term development</h4>
                    <long-graph-component></long-graph-component>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-4">
        <div class="card mx-0">
            <div class="row">
                <div class="card-body text-center">
                    <histogram-component></histogram-component>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card mx-0">
            
                <stream-component></stream-component>
            <div class="row">
                <div class="card-body text-center">
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card mx-0">
            <div class="row">
                <div class="card-body text-center">
                    <qute-component></qute-component>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    